/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Lato);



.navbar-default .navbar-nav > li:hover> a, .navbar-default .navbar-nav > .active:hover > a {
    background-color: orange;
}


/*header navbar*/
nav.navbar {
    background: #fff;
    font-family: 'Lato', serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}
.scroll-down {
    margin-top: 3%;
}



/*banner*/
header .banner {
  border: 2px solid #1a1a1a;
    background: url("https://images.unsplash.com/photo-1609620348316-a006a93e5e6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGFuaW1hbHxlbnwwfHwwfHw%3D&w=1000&q=80") 70% no-repeat;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
.banner-content {
    color: orange;
    font-family: "Lato", serif;
    text-align: right;
    text-transform: uppercase;
    margin-top: 17%;
    letter-spacing: 0.4rem;
}
.banner-content h1 {
    font-size: 5rem;
    font-weight: bold;
}
.banner-content h3 {
    font-size: 3rem;
    margin: 5% 0;
    color: #eeeeee;
    font-weight: bold;
  padding-bottom: 10%;
}
/*banner end*/
/*header end*/

/*about*/

.about-content {
    margin-top: 7%;
    font-family: "Lato", serif;
  text-align: center;
}
.about-content h2 {
    margin: 5%;
}
.about-text {
    font-size: 2rem;
    line-height: 2;
    margin: 5% 0 7%;
  background: white;

}
.about {
    background: white;
}
/*about end*/

 /*footer*/
footer  {
    background: url("https://c.pxhere.com/photos/5a/ca/Black_Cc0_Eating_High_Resolution_Mammal_Stock_Photo_White_Wild-1617263.jpg!d");
    
	/* display: block;
	margin: 0;
	padding: 0;
	width: 100%; */
  border: 2px solid #1a1a1a;
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
footer h2 {
    margin-top: 7%;
}
.contact { 
    margin: 5% 0;
}
.contacts-data {
    margin: 10% 7%;
    margin-top: 10%;
}
.contacts-data .btn {
    background: white;
    padding: 15px 20px;
    color: black;
    text-transform: uppercase;
    margin-top: 7%;
    margin-right: 22px;
    
}
.contacts-data .btn:hover {
    background: #ffb424;
    color: #fff;
}
.contact .button-icon {
    padding-left: 10px;
}
.contact-text {
    font-family: "Lato", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.33rem;
    padding-left: 7%;
}
.container2 {
    margin-left: 500px;


}
/*footer end*/


/* media queries */
@media screen and (min-width: 991px) {
    header .banner {
        background-position: center;
    }
}
@media screen and (max-width: 990px) {
    header .banner-content {
        text-align: center;
    }
    .scroll-down {
        display: none;
    }
    .contacts-data {
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    header .banner-content h1 {
        font-size: 4rem;
    }
    header .banner-content h3 {
        font-size: 2.5rem;
    }
    header .social-list {
        display: none;
    }
    .block {
        width: 65%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 491px) {
    header .banner-content h1 {
        font-size: 2.5rem;
    }
    header .banner-content h3 {
        font-size: 1.5rem;
    }
}